div.ci-media.ci-media_image-top
  div.ci-media__image
    img(src="http://via.placeholder.com/480x320" width="100%")
  div.ci-media__content
    h4.ci-media__title Bryan Cranston
    p.ci-media__text Bryan Cranston played the role of Walter in Breaking Bad. He is also known for playing Hal in Malcom in the Middle.
  div.ci-media__extend
    p.ci-media__text May 21st
