div.ci-media.product
  div.ci-media__image
    img(src="http://via.placeholder.com/128x96" width="100%")
  div.ci-media__content
    h4.ci-media__title UBTECH Jimu Robot Meebot Kit
    p.ci-media__text $129.95
