extends layout

block content
  h2.app-title ci-block

  div.ci-block
    div.ci-block__header
      h3.ci-block__header-title Block Title
    
    div.ci-block__body
      include components/media_image-top

    div.ci-block__footer

  div.ci-block
    div.ci-block__body
      include components/media_image-top
      
  div.ci-block
    div.ci-block__header
      h3.ci-block__header-title Block Title
    
    div.ci-block__body
    
    div.ci-block__footer

  div.ci-block.ci-block_radius
    div.ci-block__header
      h3.ci-block__header-title Block Title
    
    div.ci-block__body
    
    div.ci-block__footer

  div.ci-block.ci-block_radius
    div.ci-block__header
      h3.ci-block__header-title Block Title
    
    div.ci-block__body
    
    div.ci-block__footer
