extends layout

block content
  h2.app-title ci-block

  div.ci-block
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      include components/media_image-top
    div.ci-block__footer.ci-text-right Comments / Views

  div.ci-block
    div.ci-block__body
      include components/media-product
    div.ci-block__footer.ci-text-right Add to Cart
      
  div.ci-block
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      include components/media
    // div.ci-block__footer

  div.ci-block.ci-block
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      div.ci-list
        ul.ci-list__body
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
    div.ci-block__footer.ci-text-center Expand

  div.ci-block.ci-block_radius
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      include components/media_image-top
    // div.ci-block__footer

  div.ci-block.ci-block_radius
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      include components/media
    // div.ci-block__footer

  div.ci-block.ci-block_radius
    div.ci-block__header
      h3.ci-block__header-title Block Title
    div.ci-block__body
      div.ci-list
        ul.ci-list__body
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
          li.ci-list__cell
