extends layout

block content
  h2.app-title ci-list

  div.ci-list
    div.ci-list__header
      h3.ci-list__header-title List Title
    
    ul.ci-list__body
      li.ci-list__cell
        include components/media

      li.ci-list__cell
        div.ci-media
          div.ci-media__image
            img(src="http://via.placeholder.com/48x48" width="100%")
          div.ci-media__content
            h4.ci-media__title Bryan Cranston
            p.ci-media__text  62 Episodes
          div.ci-media__extend
            span.ci-media__text extend
      
      - for (var i = 0; i < 3; i ++)
        li.ci-list__cell
          div.ci-media
            div.ci-media__content
              h4.ci-media__title Bryan Cranston
            div.ci-media__extend
              span.ci-media__text something extend


  div.ci-list
    div.ci-list__header
      div.ci-media
        div.ci-media__content
          h3.ci-media__title Products
        div.ci-media__extend
          a.ci-media__text more

    ul.ci-list__body
      - for (var i = 0; i < 3; i ++)
        li.ci-list__cell
          include components/media-product
