extends layout

block content
  h2.app-title ci-media

  div.ci-media
    div.ci-media__image
      img(src="http://via.placeholder.com/48x48" width="100%")
    div.ci-media__content ci-media__content
    div.ci-media__extend
