/**
 * @fileoverview ci-media
 * @author burning (www.cafeinit.com)
 * @version 2017.06.14
 */

.ci-media {
  display: flex;
  padding: 16 * @REM;
}

.ci-media__image {
  min-width: 40 * @REM;   // 72 - 16 * 2

  img {
    display: block;
  }
}

.ci-media__content {
  flex: 1;
}

.ci-media__extend {
  min-width: 24 * @REM;   // 56 - 16 * 2
}
