/**
 * @fileoverview mixins
 * @author burning (www.cafeinit.com)
 * @version 2017.06.14
 */

.ci-title(@font_size, @color) {
  padding: 0;
  margin: 0 0 4 * @REM 0;
  font-size: @font_size;
  font-weight: normal;
  color: @color;
}
